body{
    background-color: rgb(40, 40, 40);
}

.projects{
    margin-left: 60px;
    padding: 30px;
}

.projects .project-head{
    margin-bottom: 30px;
}

.projects .project-name, .projects .technologies{
    margin: 10px 0px;
}

.projects .technologies{
    color: var(--p-color);
}

.projects .code-link a{
    color: var(--p-color);
}